
<div id="carouselExampleIndicators" class="carousel slide fullheight">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
    </ol>
    <div class="carousel-inner" role="listbox">

        <div class="carousel-item active">
            <div class="page-header gradient-sulphurous">
                <div class="page-header-image" style="background-image: url(<%= asset_path 'peach3_crop.jpeg' %>)"></div>

                <div class="content-center">
                    <div class="container">
                        <div class="content-center">
                            <div class="row">
                                <div class="col-md-9 ml-auto mr-auto text-center">
                                    <h1 class="title">Découvre la sexualité avec Teach Peach</h1>

                                    <h4 class="description text-white">Beaucoup de gens se posent des questions sur la
                                        sexualité,
                                        Teach Peach a pour vocation d'y répondre en apportant un contenu
                                        personnalisé.
                                    </h4>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="page-header header-filter gradient-sulphurous">
                <div class="page-header-image" style="background-image: url(<%= asset_path 'peach4.jpeg' %>)"></div>

                <div class="content-center">
                    <div class="container">
                        <div class="content-center">
                            <div class="row">
                                <div class="col-md-9 ml-auto mr-auto text-center">
                                    <h1 class="title">Influence le contenu en partageant anonymement ton
                                        experience
                                        !</h1>
                                    <h4 class="description text-white">Chaque mois Teach Peach écoute tes
                                        questionnements
                                        et
                                        prend en compte ton
                                        point de vue pour décider des prochains sujets abordés. </h4>
                                    <br>
                                    <% if @typeforms.last %>
                                    <%= link_to "Partage ton avis sur " + @typeforms.last.title.downcase, typeform_path(@typeforms.last.id), class: 'btn btn-primary btn-round btn-lg' %>
                                    <% end %>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <i class="now-ui-icons arrows-1_minimal-left"></i>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <i class="now-ui-icons arrows-1_minimal-right"></i>
    </a>
</div>
