<div class="page-header page-header-small gradient-sulphurous black-50-transparency">
    <div class="page-header-image " style="background-image: url(<%= asset_path 'devise/peach3.jpeg' %>);">
    </div>
    <div class="content-center">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">Rejoins-nous pour voir le contenu adulte</h2>
                <%= link_to "Je m'inscris", new_user_registration_path, class: 'btn btn-primary btn-round btn-lg' %>

            </div>
        </div>
    </div>
</div>