<div class="features-2 section-image" style="background-image: url('<%= asset_path "loveshop" %>')">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">La boutique Teach Peach</h2>
                <h4 class="description text-white">Parcours notre selection d'articles pour augmenter ton plaisir</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-primary icon-circle">
                        <i class="now-ui-icons ui-2_like"></i>
                    </div>
                    <h4 class="info-title">Des références approuvées</h4>
                    <p class="description text-white">Profite d'une selection puisée dans les choix de la communauté.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-success icon-circle">
                        <i class="now-ui-icons ui-1_check"></i>
                    </div>
                    <h4 class="info-title">Des produits de qualité</h4>
                    <p class="description text-white">Nos muqueuses sont fragiles, il faut en prendre soin.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-warning icon-circle">
                        <i class="now-ui-icons files_box"></i>
                    </div>
                    <h4 class="info-title">Collectionne les !</h4>
                    <p class="description text-white">Remplis ta boite à plaisir près du lit pour tes moments en solo
                        ou à plusieurs...</p>
                </div>
            </div>
        </div>
        <% if !user_signed_in?  %>
        <%= link_to "Je m'inscris pour découvrir le shop", new_user_registration_path, class: 'btn btn-primary btn-round btn-lg' %>
        <% elsif user_signed_in? && current_user.role != 'user_minor'%>
        <%= link_to "Je découvre la selection", shop_root_path, class: 'btn btn-primary btn-round btn-lg' %>
        <% else %>
        <h4 class="info-title">Interdit aux mineurs</h4>
        <p class="text-white">La législation francaise préconise d'interdire l'accès à la boutique aux mineurs</p>
        <%end%>

    </div>
</div>
