<div class="features-5">
    <div class="container">
        <div class="row feature-subscriber">
            <div class="col-md-6">
                <h2 class="title padding-top-10">Abonne toi</h2>
                <div class="info info-horizontal">
                    <div class="icon icon-primary icon-circle">

                        <i class="now-ui-icons ui-1_lock-circle-open"></i>
                    </div>
                    <div class="description">

                        <h4 class="info-title">Accès à tous les podcasts payants</h4>
                        <p>Toute la bibliothèque des histoires érotiques sans limite</p>
                    </div>
                </div>
                <div class="info info-horizontal">
                    <div class="icon icon-primary icon-circle">
                        <i class="now-ui-icons ui-2_favourite-28"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Accès à tous les ateliers</h4>
                        <p>Vis l'experience Teach Peach en allant aux ateliers pour en apprendre plus sur
                            les
                            thèmes de
                            la sexualité</p>
                    </div>
                </div>
                <div class="info info-horizontal">
                    <div class="icon icon-primary icon-circle">
                        <i class="now-ui-icons shopping_bag-16"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Des réductions sur la boutique</h4>
                        <p>Profite des reductions sur tout le shop</p>
                    </div>
                </div>
                <div class="row justify-center">

                    <div class="col-xs-4">
                        <div class="buttons">

                            <%= link_to "Je m'abonne", new_subscription_path, class: 'btn btn-primary btn-round btn-lg' %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-background-product card-raised">
                    <%= image_tag "peach4" %>

                </div>
            </div>
        </div>
    </div>
</div>
