<br />
<br />
<br />
<h2>Ceci est un message qui vous est envoyé depuis la page contact de Teach-Peach.</h2>
<br />

<h3>Expéditeur :</h3>  <%= @message.name %>
<h3>Email :</h3> <%= @message.email %>
<h3>Téléphone :</h3> <%= @message.phone_number %>
<h3>Message :</h3> <%= @message.body %>
<br />
<br />
<br />
A bientôt sur teach-peach.fr
