<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour <%= @user.first_name %>, est-ce que tu as déjà remarqué(e) nos abonnements !</h1>
    <p>
      N'hésites pas à y jeter un coup d'oeil sur cette <%= link_to "page", @url %>.
    </p>
    <p> À très vite sur Teach Peach ! </p>
  </body>
</html>
