<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour <%= @user.first_name %> et bienvenue sur Teach Peach !</h1>
    <p>
      Merci de nous avoir rejoint.
    </p>
    <p>
      Tu t'es inscrit avec l'e-mail suivant : <%= @user.email %>.
    </p>
    <p>
      Pour profiter du site, connecte-toi via : <%= @url %>.
    </p>
    <p> À très vite sur Teach Peach ! </p>
  </body>
</html>
