<p>
  <% if @article.images.attached? %>
    <%= image_tag @article.images, alt: 'image' %>
  <% end %>
</p>

<p>
  <strong>Titre:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Contenu:</strong>
  <%= @article.content %>
</p>


<%= link_to 'Retour aux articles', articles_path %>
