 <p>
  <strong>Titre:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Contenu:</strong>
  <%= @article.content %>
  <%= render 'layouts/social' %>
</p>


<%= link_to 'Retour aux articles', articles_path %>
