<p>
  <% if @article.images.attached? %>
    <% @article.images.each do |image| %>
      <%= image_tag image, alt: 'image' %> <br />
    <% end %>
  <% end %>
</p>

<p>
  <strong>Titre:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Contenu:</strong>
  <%= @article.content %>
</p>


<%= link_to 'Retour aux articles', articles_path %>
