<%= form_with(model: [:admins, category], local: true) do |form| %>

  <div class="field">
    <%= form.label :title, "Titre", class: 'control-label' %>
    <%= form.text_field :title, autofocus: true, autocomplete: "title", placeholder: "Titre", class: 'form-control' %>
  </div>
  <div>
	  <%= button_tag(type: 'submit', class: "btn btn-primary btn-round btn-sm col-sm-3 mt-3 ") do %>
	 		Créer la catégorie
		<% end %>
	</div>
<% end %>
