<%= form_with(model: [:admins, category], local: true) do |form| %>

  <div class="field">
    <%= form.label :title, "Titre" %>
    <%= form.text_field :title, placeholder: "Titre", class: 'form-control' %>
  </div>
  <div>
		<%= form.submit class: "btn btn-primary btn-round btn-sm mt-3 col-sm-3" %>
	</div>
<% end %>
