<div class="container">
<%= render 'errors', category: @category %>
<h1 class="mt-5 pt-5 text-center">Éditer la catégorie</h1>
<%= render 'form', category: @category %>
<%= link_to 'Retour aux catégories', admins_categories_path %>
</div>
