<%= render 'errors', category: @category %>

<div class="container">
	<h1 class="mt-5 pt-5 text-center">Nouvelle catégorie</h1>
	<%= render 'form', category: @category %>
	<div class="mt-2 text-center">
	  <%= link_to 'Retour aux catégories', admins_categories_path %>
	</div>
</div>
