<%= render 'errors', category: @category %>

<div class="container">
	<div class="mt-5 pt-5 text-center">
		<h1>Nouvelle catégorie</h1>
	</div>
	<%= render 'form', category: @category %>
	 <%= link_to 'Retour aux catégories', admins_categories_path %>
</div>
