<div class="container text-center">
	<%= render 'errors', typeform: @typeform %>

	<h1 class="mt-5 pt-5">Nouveau formulaire</h1>

	<%= render 'form', typeform: @typeform %>

	<%= link_to 'Retour aux formulaires', admins_typeforms_path %>
</div>
