<h1>Editer la catégorie de produit</h1>

<%= render 'form', product_category: @product_category %>

<%= link_to 'Voir la catégorie de produit', shop_product_category_path(@product_category) %> |
<%= link_to 'Retour aux catégories de produit', shop_product_categories_path %>
