<%= form_with scope: :category, url:  admin_category_path(@category), method: :put, local:true do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
