<% i = 0 %>
<% j = 0 %>

<div id="productCarousel" class="carousel slide" data-ride="carousel" data-interval="8000">
  <ol class="carousel-indicators">
    <% if @product.images.attached? %>
      <% @product.images.each do |image| %>
        <% i += 1 %>
        <li data-target="#productCarousel" data-slide-to="<%= i %>"></li>
      <% end %>
    <% end %>
  </ol>
  <div class="carousel-inner" role="listbox">
    <% if @product.images.attached? %>
      <% @product.images.each do |image| %>
        <% j += 1 %>
        <% if j == 1 %>
          <div class="carousel-item active">
            <%= image_tag @product.images.first, alt: 'image', class: 'd-block img-raised' %>
          </div>
        <% else %>
          <div class="carousel-item">
            <%= image_tag image, alt: 'image', class: 'd-block img-raised' %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#productCarousel" role="button" data-slide="prev">
    <button type="button" class="btn btn-primary btn-icon btn-round btn-sm" name="button">
        <i class="now-ui-icons arrows-1_minimal-left"></i>
    </button>
  </a>
  <a class="carousel-control-next" href="#productCarousel" role="button" data-slide="next">
    <button type="button" class="btn btn-primary btn-icon btn-round btn-sm" name="button">
        <i class="now-ui-icons arrows-1_minimal-right"></i>
    </button>
  </a>
</div>
