<div class="wrapper">
  <div class="page-header page-header-small">
    <div class="page-header-image" data-parallax="true" style="background-image:url(http://pre10.deviantart.net/d6f9/th/pre/f/2013/052/d/0/adult_toy_set_by_f4u_draconix-d5vsl80.jpg)">
    </div>
    <div class="content-center">
      <h1 class="title">Plus de 1200 CATEGORIES à portée de panier.</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-md-12">
    <p class="category">Produits</p>
    <div class="row">
      <div class="col-md-3">
        <%= render 'list_category_buttons' %>
      </div>
      <div class="col-md-9">
        <div class="tab-content">
          <%= render 'all_products' %>
          <%= render 'products_by_category' %>
        </div>
      </div>
    </div>
  </div>
</div>
