/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


*= require css/bootstrap.min
*= require css/now-ui-kit
*= require trix


 */

@font-face {
   font-family: 'Nucleo Outline';
   src: font-url('nucleo-outline.eot');
   src: url(font-path('nucleo-outline.eot') + '?#iefix') format('embedded-opentype'),
      font-url('nucleo-outline.woff') format('woff'),
      font-url('nucleo-outline.woff2') format('woff2'),
      font-url('nucleo-outline.ttf') format('truetype'),
      url(font-path('nucleo-outline.svg') + '#nucleo-outline') format('svg');
}


div.section-image::after {
   background-color: #210b0ed6;
}

div.alert {
   margin-bottom: auto;
   margin-top: 62px;
}


a.link-session {
   color: #ea4c89 !important;
}

a.link-session:hover {
   border-color: transparent !important;
   color: #fa7a50 !important;
}


.btn-primary:not(:disabled):not(.disabled):active {
   background-color: #fa7a50 !important;
   border-color: transparent !important;
}

.card a:not(.btn):not(.nav-link):not([data-toggle='collapse']):not(.footer-link):hover {
   border-color: transparent !important;
}

.card a:not(.btn):not(.nav-link):not([data-toggle='collapse']):not(.footer-link) {
   color: #ea4c89 !important;
   border-color: transparent !important;
}

div.unsubscribe {
   .btn:not(:disabled):not(.disabled) {
      width: -webkit-fill-available;
   }
}

div.links-devise.row {
   justify-content: space-around;
}

div.card-body {
   padding-bottom: inherit;
}

#basketcount {
   content: attr(value) !important;
   font-size: 10px !important;
   background: #ea4c89 !important;
   color: white !important;
   border-radius: 50% !important;
   padding: 3px 6px !important;
   position: relative !important;
   left: -8px !important;
   top: -10px !important;
   opacity: 0.9 !important;
}

div.padding-nav {
   margin-top: 62px;
}

div.img-minimum-height {
   height: 200px;
   width: 100%;
}

.stripe-button-el {
   background: none !important;
   background-image: none !important;
   background-color: #ea4c89 !important;
   color: #fff !important;
   border-width: 1px !important;
   border-radius: 30px !important;
   padding: 11px 23px !important;
}

.stripe-button-el span {
   background-color: transparent !important;
   box-shadow: none !important;
   padding: 0 !important;
   text-shadow: none !important;
   background: none !important;
   background-image: none !important;
   min-height: auto !important;
   height: auto !important;
   font-weight: 400 !important;
   font-size: 0.8571em !important;
   line-height: 1.35em !important;
   font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif !important;
}

.article-title {
   text-align: center;
   border-top: 6px pink solid;
   padding-top: 15px;

}

.avoid-navabar {
   height: 150px;

}

.article-line {}

.article-informations {
   border-top: 2px solid pink;
   border-bottom: 2px solid pink;
   padding-top: 5px;
   padding-bottom: 5px;
}

.article-informations-list {
   display: inline;
   list-style-type: none;
}

.article-informations-list-list {
   display: inline;
}

.fb-share-button {
   padding-right: 15px;
}

.twitter-share-button {
   margin-right: 25px;
}

i.fab {

   position: absolute !important;
   top: 25% !important;
   left: 30% !important;
}

div.page-header-image.image-discover {

   background-position-y: 10%;
   min-height: 70vh;
}

div.row.feature-subscriber {

   justify-content: space-around !important;
}

div.margin-top-40 {
   margin-top: 40px !important;
}

div.no-padding {
   padding: 0;

}

div.padding-top-40 {
   padding-top: 30px;
}

div.padding-right-10px {
   padding-right: 10px;
}

.text-white {
   color: white;
}

h2.title.padding-top-10 {
   padding-top: 20px !important;
   margin-bottom: 15px !important;
}

div.justify-center {
   justify-content: center !important;
}

h3.padding-bottom-inherit {
   padding-bottom: inherit !important;
}

p.stronger-text {
   font-weight: normal;
}

.stripe-button-el {
   background: none !important;
   background-image: none !important;
   background-color: #ea4c89 !important;
   color: #fff !important;
   border-width: 1px !important;
   border-radius: 30px !important;
   padding: 11px 23px !important;
}

.stripe-button-el span {
   background-color: transparent !important;
   box-shadow: none !important;
   padding: 0 !important;
   text-shadow: none !important;
   background: none !important;
   background-image: none !important;
   min-height: auto !important;
   height: auto !important;
   font-weight: 400 !important;
   font-size: 0.8571em !important;
   line-height: 1.35em !important;
   font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif !important;
}
}

.gradient-sulphurous {

   background-image: linear-gradient(#ffffff00, #dc35458f);
}

.black-50-transparency {
   background-color: rgba(0, 0, 0, 0.5);
}