/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


*= require css/bootstrap.min
*= require css/now-ui-kit


 */

@font-face {
   font-family: 'Nucleo Outline';
   src: font-url('nucleo-outline.eot');
   src: url(font-path('nucleo-outline.eot') + '?#iefix') format('embedded-opentype'),
      font-url('nucleo-outline.woff') format('woff'),
      font-url('nucleo-outline.woff2') format('woff2'),
      font-url('nucleo-outline.ttf') format('truetype'),
      url(font-path('nucleo-outline.svg') + '#nucleo-outline') format('svg');
}



div.section-image::after {
   background-color: #210b0ed6;
}



div.alert {
   margin-bottom: auto;
   margin-top: 62px;
}


a.link-session {
   color: #ea4c89 !important;
}

a.link-session:hover {
   border-color: transparent !important;
   color: #fa7a50 !important;
}


.btn-primary:not(:disabled):not(.disabled):active {
   background-color: #fa7a50 !important;
   border-color: transparent !important;
}

.card a:not(.btn):not(.nav-link):not([data-toggle='collapse']):not(.footer-link):hover {
   border-color: transparent !important;
}

.card a:not(.btn):not(.nav-link):not([data-toggle='collapse']):not(.footer-link) {

   color: #ea4c89 !important;
   border-color: transparent !important;
}

.btn:not(:disabled):not(.disabled) {
   width: -webkit-fill-available;

}

div.links-devise.row {
   justify-content: space-around;
}