<%= form_with(model: [:admins, :shop, product_category], local: true) do |form| %>
  <div class="field">
    <%= form.label :title, "Titre", class: 'control-label' %>
    <%= form.text_field :title, autofocus: true, autocomplete: "title", placeholder: "Titre", class: 'form-control' %>
  </div>
  <div class="actions">
    <%= form.submit class: 'btn btn-primary btn-round col-sm-3 btn-sm'  %>
  </div>
<% end %>
