<div class="container">
  <h1 class="mt-5 pt-5">Nouvelle catégorie de produit</h1>
  <%= render 'form', product_category: @product_category %>
  <%= link_to 'Retour aux catégories de produit', admins_path %>
</div>
