<p>
  <%= @product_category.title %>
</p>

<%= link_to 'Editer', edit_admins_shop_product_category_path(@product_category) %> |
<%= link_to 'Retour aux catégories', admins_shop_product_categories_path %>
