<div class="col-sm-3">
  <%= collection_select(:categories, :ids, Category.all, :id, :title, {}, { :multiple => true, class: 'selectpicker', title: 'Choix des catégories', :data => { :style => 'btn btn-primary btn-round'}}) %>
</div>
