<div class="container">
  <div class="col-4">
    <%= collection_select(:categories, :id, Category.all, :id, :title, {}, { :multiple => true, class: 'selectpicker', title: 'Choix des catégories', :data => { :style => 'btn btn-primary btn-round'}}) %>
  </div>
</div> 