<div class="container">
<%= render 'errors', article: @article %>

<h1 class="mt-5 pt-5 text-center">Éditer l'article</h1>

<%= render 'form_edit', article: @article %>

<%= link_to "Voir l'article", admins_article_path(@article.id) %> |
<%= link_to 'Retour aux articles', admins_articles_path %>
</div>