<div class="col-md-2">
    <h5>À propos</h5>
    <ul class="links-vertical">
        <li>
            <a href="#pablo" class="text-muted">
                À propos
            </a>
        </li>
        <li>
            <a href="#pablo" class="text-muted">
                Presentation
            </a>
        </li>
        <li>
            <a href="#pablo" class="text-muted">
                Nous contacter
            </a>
        </li>
    </ul>
</div>
