<div class="col-md-2">
    <h5>À propos</h5>
    <ul class="links-vertical">
        <li>
            <%= link_to "Notre équipe", team_static_pages_path, class:"text-muted" %>
        </li>
        <li>
            <%= link_to "Nous contacter", new_message_path, class:"text-muted" %>
        </li>
    </ul>
</div>
