<% if user_signed_in? %>
  <li>
    <%= link_to shop_basket_path(@current_basket.id), class: "nav-link text-primary" do %>
      Panier
      <i class="now-ui-icons shopping_cart-simple"></i>
      <% if @current_basket.line_items.length > 0 %>
        <span id="basketcount"><%= @total_items_number %></span>
      <% end %>
    <% end %>
  </li>
<% end %>
