<footer class="footer footer-big footer-white">
    <div class="container">
        <div class="content ">
            <div class="row  d-flex justify-content-between">

                <%= render 'layouts/about_us' %>
                <%= render 'layouts/our_website' %>
                <%= render 'layouts/my_account' %>
                <%= render 'layouts/social_links' %>
            </div>
        </div>
        <hr />
        <div class="copyright">
            Copyright &copy;
            <script>
                document.write(new Date().getFullYear())
            </script> teach-peach.fr Tous droits réservés.
        </div>
    </div>
</footer>
