<div class="d-flex justify-content-around">
  <div class="col">
      <h5>Suivez nous</h5>
      <ul class="social-buttons">
          <li>
            <%= link_to "https://twitter.com/TeachPeachFR", class: "btn btn-icon btn-neutral btn-twitter btn-round" do %>
              <i class="fa fa-twitter"></i>
            <% end %>
          </li>
          <li>
            <%= link_to "https://www.facebook.com/teach.peach", class: "btn btn-icon btn-neutral btn-facebook btn-round" do %>
              <i class="fa fa-facebook-square"></i>
            <% end %>
          </li>
      </ul>
  </div>
</div>
