
<div class="social row">
  <!-- Social network -->

    <!-- Load Facebook SDK for JavaScript -->
 
 <script>(function(d, s, id) {
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) return;
   js = d.createElement(s); js.id = id;
   js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
   fjs.parentNode.insertBefore(js, fjs);
 }(document, 'script', 'facebook-jssdk'));</script>

 <!-- Your share button code -->
 <div class="fb-share-button"
   data-href="https://www.google.com"
   data-layout="button_count">
 </div>

<a href="http://twitter.com/share" class="twitter-share-button" data-url="<%= article_url(@article) %>" data-text="Découvre ''<%= @article.title %>' sur TeachPeach" data-count="horizontal" data-via="teachpeach">Tweet</a>
<script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>

</div>
