<div class="d-flex justify-content-around">
  <div class="col">
      <h5>Suivez nous</h5>
      <ul class="social-buttons">
          <li>
              <a href="#teach-peach" class="btn btn-icon btn-neutral btn-twitter btn-round">
                  <i class="fa fa-twitter"></i>
              </a>
          </li>
          <li>
              <a href="https://www.facebook.com/teach.peach" class="btn btn-icon btn-neutral btn-facebook btn-round">
                  <i class="fa fa-facebook-square"></i>
              </a>
          </li>

          <li>
              <a href="#teach-peach" class="btn btn-icon btn-neutral btn-instagram btn-round">
                  <i class="fa fa-instagram"></i>
              </a>
          </li>
      </ul>
  </div>
</div>
