<% if (user_signed_in? && current_user.role != 'user_minor' && current_user.role != 'subscriber' && current_user.subscription_id == nil) %>
  <li>
    <%= link_to 'Nos abonnements', new_subscription_path, class: "nav-link text-primary" %>
  </li>
<% end %>
